@media all {
  .patients-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 20px;
    height: 100%;
    overflow-y: scroll;
    margin-bottom: 20px;
  }
  .patient-card {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.24);
    border-radius: 12px;
  }
  .patient-card__info {
    padding: 19px 0 16px 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid rgba(220, 224, 236, 0.5);
  }
  .patient-card__resolutions {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-right: 24px;
  }
  .patient-card__resolutions-icon {
    display: flex;
    justify-content: center;
    min-width: 56px;
  }
  .patient-card__resolutions_time {
    display: flex;
    align-items: start;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    padding-bottom: 12px;
  }
  .patient-card__resolutions_description {
    box-sizing: border-box;
    display: flex;
    align-items: start;
    font-size: 15px;
    line-height: 140%;
    padding-bottom: 24px;
    padding-top: 12px;
  }
  .patient-info__name-and-status {
    padding-left: 16px;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .patient-info__avatar img {
    padding-top: 5px;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
  }
  .patient-info__name {
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0px;
    padding-bottom: 3px;
  }
  .patient-info__status {
    display: flex;
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
    color: #A1ABC9;
  }
  .patient-info__status_confirm {
    margin-top: 3px;
    margin-right: 10px;
    width: 9px;
    height: 9px;
    background-color: #34C197;
    border-radius: 50%;
    border: none;
  }
  .patient-info__status_canceled {
    margin-top: 3px;
    margin-right: 10px;
    width: 9px;
    height: 9px;
    background-color: #FF2567;
    border-radius: 50%;
    border: none;
  }
  .patient-info__status_waiting {
    margin-top: 3px;
    margin-right: 10px;
    width: 9px;
    height: 9px;
    background-color: #34C197;
    border-radius: 50%;
    border: none;
  }
  .patient-info__manage-btn {
    width: 52px;
    border: none;
    background: transparent;
    margin-left: auto;
    height: 24px;
    background: url("../img/edit_user.svg") no-repeat center;
    margin-top: 17px;
    margin-right: 10px;
  }
  .patient-info__edit-select {
    display: none;
    height: 24px;
    width: 24px;
  }
}
@media only screen and (min-width: 1023px) {
  .patients-content {
    justify-content: space-around;
  }
  .patient-card {
    max-width: 406px;
  }
}
/*# sourceMappingURL=patient-card.css.map */