* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
}
body {
  font-weight: normal;
  color: #202225;
}
@media all {
  .wrapper {
    position: relative;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    background: #E4EBFF;
  }
  .wrapper__header,
  .wrapper__footer {
    padding: 16px 24px 16px 24px;
  }
  .wrapper__content {
    padding-left: 24px;
    padding-right: 24px;
  }
  .wrapper_display-none {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
  }
  .logo {
    height: 32px;
    width: 132px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .doctor {
    position: relative;
    display: flex;
  }
  .doctor_online {
    background-color: #34C197;
  }
  .doctor_offline {
    background-color: #FF2567;
  }
  .doctor .doctor-name-pos {
    display: none;
    margin-right: 16px;
  }
  .doctor__name {
    font-size: 15px;
    line-height: 130%;
    text-align: right;
  }
  .doctor__position {
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
    text-align: right;
    color: #A1ABC9;
  }
  .doctor__avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
  }
  .doctor__content {
    color: red;
    background: #E3EBFF;
  }
  .content {
    background: #F9FAFF;
    box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.32);
    border-radius: 16px 16px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .content__empty-state-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    font-size: 15px;
    line-height: 140%;
    color: #A1ABC9;
    text-align: center;
    flex-grow: 1;
  }
  .content__empty-state-text img {
    margin-bottom: 32px;
  }
  .buttons {
    box-sizing: border-box;
    display: flex;
    column-gap: 24px;
    padding-top: 38px;
  }
  .button {
    font-size: 15px;
    border-radius: 8px;
    border: none;
  }
  .button__size {
    min-width: 120px;
    min-height: 40px;
  }
  .button_primary {
    font-weight: 600;
    line-height: 130%;
    color: #fff;
    background: #7297FF;
    border-radius: 8px;
  }
  .button_secondary {
    font-weight: normal;
    line-height: 140%;
    color: #7297FF;
    background: #fff;
    box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);
  }
  .search {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
  }
  .search__search-block {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
  }
  .search__sort-by-label {
    display: none;
  }
  .search__sort-select {
    display: none;
    color: #7297FF;
    border: none;
    background: url("../img/filter.svg") no-repeat left 3px;
    background-size: 20px;
    background-position-y: center;
    background-position-x: 10px;
    border-color: #7297FF;
  }
  .content-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
  }
  .search-buttons {
    display: flex;
    justify-content: space-between;
  }
  .search-button {
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  .search-button__search {
    background: url("../img/search.svg") no-repeat center;
  }
  .search-button__filter {
    background: url("../img/filter.svg") no-repeat center;
  }
  .input-search {
    display: none;
    border: none;
    padding-left: 40px;
    background-color: transparent;
    font-size: 15px;
    background: url("../img/search.svg") no-repeat left 3px;
    background-size: 20px;
    background-position-y: center;
    background-position-x: 10px;
  }
  .input-search::placeholder {
    color: #A1ABC9;
  }
  .input-search:focus {
    border-color: #7297FF;
    background-color: #fff;
  }
}
@media only screen and (min-width: 600px) {
  .wrapper__header {
    padding: 16px 64px 16px 64px;
  }
  .wrapper__content {
    border-radius: 16px;
    margin: 0 64px 48px 64px;
  }
  .doctor .doctor-name-pos {
    display: block;
  }
  .buttons {
    column-gap: 12px;
  }
  .button__size {
    min-width: 160px;
  }
  .content-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1023px) {
  .input-search {
    display: block;
  }
  .search {
    padding: 46px 8px 0 8px;
  }
  .search__sort-by-label {
    display: block;
  }
  .search__sort-select {
    background-image: none;
    display: block;
  }
  .search-button__search {
    display: none;
  }
  .search-button__filter {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */